<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-autowire="byName"
>



<!--
	<bean id="beanService" class="com.service.BeanService"></bean>
	<bean id="indexService" class="com.service.IndexService"></bean>
-->


<!--
	<bean id="a" class="com.app.A" >
		&lt;!&ndash;由程序员手动指定的依赖关系 称为手动装配&ndash;&gt;
		&lt;!&ndash;<property name="b">
			<ref bean="b"/>
		</property>&ndash;&gt;
	</bean>

	<bean id="b" class="com.app.B">
	</bean>-->

	<bean id="interClass" class="com.app.InterClass"></bean>
	<bean id="interImpl" class="com.service.InterImpl"></bean>
<!--	<bean id="interImpl2" class="com.service.InterImpl2"></bean>-->

	<bean id="factory" class="com.app.ZiluBeanFacotry"></bean>


	<bean></bean>

</beans>